<!--TODO:to create a welcome message to the users and to make them choose one of these-->

<div class="container center">
    <div class="row">
        <div class="col-lg-12 text-align-center">
            <h1>HELLO!</h1>
        </div>
    </div>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active hover">
            <a href="employee">
                <h1 class="box">
                    EMPLOYEE
                </h1>
            </a>
        </li>
        <li role="presentation" class="hover">
            <a href="alumni">
                <h1 class="box">
                    ALUMNI
                </h1>
            </a>
        </li>
    </ul>
</div>


<style>
    .center{
        height:500px;
        margin-top:20%;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
        background: #F77A52;
        color:black;
    }
    .nav-justified>li>a ,.nav-justified>li>a:hover{
        background: #FF974F;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;;
        color:black;
        height:200px;
    }
    .hover:hover{
        -webkit-box-shadow: 0px 11px 6px -6px grey;
        -moz-box-shadow: 0px 11px 6px -6px grey;
        box-shadow: 0px 11px 6px -6px grey;
    }
    .box{
        font-family: 'Josefin Sans', sans-serif;
        padding-top:100px;
    }

</style>

<!--DONE-->